<div mat-dialog-content class="input-container d-flex flex-column justify-content-center align-items-center">
    <h1>Set simulation properties:</h1>
    <mat-slider [max]="16" [min]="1" [discrete]="true">
        <input matSliderThumb [(ngModel)]="elevatorsNumber">
    </mat-slider>
    <mat-label>Number of elevators: {{elevatorsNumber}} </mat-label>
    <br>
    <br>
    <mat-slider [max]="20" [min]="3" [discrete]="true">
        <input matSliderThumb [(ngModel)]="floorsNumber">
    </mat-slider>
    <mat-label>Number of floors: {{floorsNumber}} </mat-label>
    <button (click)="submitInput()">Submit</button>
</div>

<app-elevators [elevatorsListNumber]="elevatorsNumber"></app-elevators>