<div class="main-container d-flex justify-content-around pt-4">
  <div class="elevators-container">
    <h2>Elevators</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Current Floor</th>
          <th>Destination Floors</th>
          <th>Move Direciton</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elevator of elevators">
          <td>{{ elevator.id }}</td>
          <td>{{ elevator.currentFloor }}</td>
          <td>{{ elevator["destinationFloors"] }}</td>
          <ng-container *ngIf="elevator.direction === DirectionsEnum.UP">
            <td><i class="bi bi-arrow-up-circle"></i></td>
          </ng-container>
          <ng-container *ngIf="elevator.direction === DirectionsEnum.DOWN">
            <td><i class="bi bi-arrow-down-circle"></i></td>
          </ng-container>
          <ng-container *ngIf="elevator.direction === DirectionsEnum.NULL || elevator.direction === DirectionsEnum.WAITING">
            <td><i class="bi bi-circle"></i></td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="buttons-container">
    <div>
    <h2>What floor are you on?</h2>
      <mat-radio-group [(ngModel)]="selectedFloors[0]" class="d-flex flex-column justify-content-center">
        <mat-radio-button *ngFor="let floor of floorsArray" 
                          [value]="floor"> <button mat-mini-fab color="warn"> {{ floor }}</button>
                        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
    <h2>What floor do you want to go?</h2>
    <mat-radio-group [(ngModel)]="selectedFloors[1]" class="d-flex flex-column justify-content-center">
      <mat-radio-button *ngFor="let floor of floorsArray" 
                        [value]="floor"> <button mat-mini-fab color="primary"> {{ floor }}</button>
                      </mat-radio-button>
    </mat-radio-group>
    </div> 
    <button mat-fab class="submit-button" color="warn" (click)="callElevator(selectedFloors)">Call elevator</button>
  </div>
</div>

<!--
<ng-container *ngFor="let startbutton of floorsArray">
  <button mat-fab color="primary" (click)="callElevator(startbutton)">{{ startbutton }}</button>
</ng-container>-->